asttokens==3.0.0
comm==0.2.3
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.1
fonttools==4.59.2
glcontext==3.0.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.30.1
ipympl==0.9.7
ipython==8.18.1
ipywidgets==8.1.7
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_widgets==3.0.15
kiwisolver==1.4.7
matplotlib==3.9.4
matplotlib-inline==0.1.7
moderngl==5.12.0
moderngl-window==3.1.1
nest-asyncio==1.6.0
novel-toy-tools @ git+https://github.com/tendejan/novel-toy-tools.git@a3039b75c1277e9ffa4e7c3013d2b093db9d43d4
numpy==2.0.2
opencv-python==4.12.0.88
packaging==25.0
pandas==2.3.2
parso==0.8.5
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
polars==1.33.0
prompt_toolkit==3.0.52
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pygame==2.6.1
pyglet==2.1.8
pyglm==2.8.2
Pygments==2.19.2
PyOpenGL==3.1.10
PyOpenGL-accelerate==3.1.10
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==27.0.2
scipy==1.13.1
six==1.17.0
stack-data==0.6.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2025.2
wcwidth==0.2.13
widgetsnbextension==4.0.14
zipp==3.23.0
